.App {
  text-align: center;
  justify-content: center;
  
}

#gallery{
  margin-left:34%;
  margin-right:34%;
}

 .td{
  width: 200px;

} 
.ourday{
  position: relative;
  border: 1px solid black;
  height: 130px;
}

.reactJewishDatePicker .selectedDate {
  padding: 2px 15px 2px 5px;
  border-radius: 4px;
  user-select: none;
  min-height: 20px;
  text-align: center;
  position: relative;
  font-size: smaller;
}

.footer{
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
} 

.weekdayWrapper{
  display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #5c0076;
    padding: 2px;
}
.selectedDate {
  border:solid 1px gray
}
.responsiveTable {
  width:90%
}

.cal{
margin: auto;
border: solid rgb(179, 177, 177) 1px;
}


.cul{
  text-align:right;
}

.homepage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/image.png'); /* Replace './background.jpg' with the path to your image file */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  mix-blend-mode: multiply; /* Apply blend mode to overlay with background */
}

.welcome-message {
  color: white; /* Set text color to white */
  font-size: 2rem; /* Font size */
  text-align: center; /* Center align the text */
  margin-bottom: 20px; /* Add some margin at the bottom */
}

.home-page-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.home-page-text {
  background-color: transparent;
  color: white;
  border:none;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.dialogComp{
width: 15rem;
}  

.setDialogComp{
  width: 17rem;

}




