

html {
  font-size: 14px;
}

body {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}


.rubik- {
  
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* .App{
  background:url('../public/image.png');
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 100vh;
} */

