/* Button styles */
.p-button-large {
    /* Large button size */
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .p-button-rounded {
    /* Rounded button */
    border-radius: 20px;
  }
  
  /* Dialog styles */
  .p-dialog {
    /* Center the dialog vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* File input styles */
  input[type="file"] {
    /* Hide the default file input button */
    display: none;
  }
  
  .custom-file-upload {
    /* Custom styling for file input */
    background-color: #5c0076; /* Button background color */
    color: #ffffff;           /* Button text color */
    border: none;             /* Remove default border */
    padding: 10px 20px;       /* Padding for button */
    font-size: 16px;          /* Font size for button text */
    cursor: pointer;          /* Change cursor on hover */
    border-radius: 5px;       /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
  
  .custom-file-upload:hover {
    background-color: #4a005c; /* Darker shade for hover effect */
  }
  
  .custom-file-upload:active {
    background-color: #3b0047; /* Even darker shade for active state */
  }
  
  .custom-file-upload:focus {
    outline: none;              /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(92, 0, 118, 0.5); /* Custom focus outline */
  }
  
  /* Footer button styles */
  .p-dialog .p-footer button {
    margin-right: 10px; /* Add some space between buttons */
  }
  